<div data-role="header">
    <a href="#" data-icon="back" class="back ui-btn-left">Atrás</a>
    <h1>Estudios</h1>
</div>

<div data-role="content">
	<p>Un estudio consiste en un proyecto en el cual calcula la categoría óptima de tarifa contratada.</p>
	<p>Para realizar este estudio, necesitamos que ingreses tu historial de facturación</p>

    <p>Puedes crear un nuevo estudio</p>
    <a href="#estudios/nuevo" data-role="button" data-icon="plus">Crear nuevo</a>
    <p>o ver los estudios existentes</p>
    <a href="#estudios" data-role="button" data-icon="search">Ver todos los estudios</a>
</div>
