<div data-role="header">
    <a href="#" data-icon="back" class="back ui-btn-left">Atrás</a>
    <h1>Lista de estudios</h1>
</div>

<div data-role="content">
	<ul data-role="listview" data-filter="true" data-split-theme="d">
<!--         <li><a href="#estudios/1">Estudio 1</a></li> -->
<!--         <li><a href="#estudios/2">Estudio 2</a></li> -->
<!--         <li><a href="#estudios/3">Estudio 3</a></li> -->
<!--         <li><a href="#estudios/4">Estudio 4</a></li> -->
<!--         <li><a href="#estudios/5">Estudio 5</a></li> -->
<!--         <li><a href="#estudios/6">Estudio 6</a></li> -->
<!--         <li><a href="#estudios/7">Estudio 7</a></li> -->
	</ul>
</div>
